body {
    background: #28527A;
    color: #F4D160;
    font-family: 'Arial', serif;
}

a {
    color: #8AC4D0;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    width: 500px;
}

h2::before {
    content: "";
    margin-left: 24px;
}

.d-inline {
    display: inline;
}


